<h1>See Whats LiT</h1>

<% @ideas.each do |idea| %>
  <h3><%= idea.title %></h3>
  <p><%= idea.description %></p>
<% end %>
<img id="capybara" src="http://l7.alamy.com/zooms/81cc870963a941b48050a3bbf125df86/children-with-capybara-hydrochoeris-hydrochaeris-zoo-in-normandy-gdghm7.jpg" alt="">
<br>Jonas with his Capybara
