<h1>Testing Chat</h1>

<div class="row">
 <div class="col-md-8">
   <div id="private"></div>
   <input id="private-chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
 </div>
</div>

<button type="button" name="Invite Christina" id="invite-button"></button>
