<h1>Brainstorm!</h1>

<div class="row">
 <div class="col-md-8">
   <div id="messages"></div>
   <input id="chat-input" class="form-control" type="text" placeholder="say anything" autofocus/>
 </div>
</div>
