/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require_tree .
 */

/* Normalize */

body {
  font-family: helvetica;
  background: linear-gradient(#849cda, #4d6ba2);
  /*background-image: url('yellow4.png');*/
  background-size:cover;

}

.ideasection {
  text-align: center;
}

#logo img {
  max-width: 5em;*/
  padding-bottom: 1em;
}
.navv{
  display: inline;
}
.navlogo{
  display: flex;
  justify-content: center;
}

.navlogout{
  display: flex;
  justify-content: flex-end;
}

.header {
  position: fixed;
  width: 100%;

  z-index: 10000;
}
.spacer{
  height: 90px;
}
/* Nav Bar */

.fixed-navbar {

}

/* Login Page */

.login-page {
  background-image: url('background.png');
  background-color: #98b1f5;
  color: white;
}

img {
  display: block;
  margin: auto;
}

.slogan {
  margin-top: 1em;
  text-align: center;
}

.login-button {
  text-align: center;
  margin-top: 5em;
}

.navlinks {
  color:white;
  font-size: 1.4em;
}

.top{
  display: flex;
  justify-content: space-between;
}

.nav-pills{
  background-image: url('https://ak2.picdn.net/shutterstock/videos/15021937/thumb/1.jpg')
}

#home-logo {
  /*margin-bottom: 25em;*/
}
