/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require font-awesome

 *= require_self
 *= require_tree .
 */

/* Normalize */

body {
  font-family: helvetica;
  /*background: linear-gradient(-90deg, #122452, #668cd0);*/
  background: linear-gradient(-90deg, #668cd0, #668cd0);
}

.ideasection {
  text-align: center;
}

#logo img {
  max-width: 5em;
  /*padding-bottom: 1em;*/
}

.header {
  display: inline;
}

/* Login Page */

.login-page {
  background-image: url('background.png');
  background-color: #98b1f5;
  color: white;
}

img {
  display: block;
  margin: auto;
}

.slogan {
  margin-top: 1em;
  text-align: center;
}

.login-button {
  text-align: center;
  margin-top: 5em;
}

.navlinks {
  color:white;
}
