// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#messages {
  height: 300px;
  overflow: scroll;
  border: 1px solid #ddd;
}

#conversation-pic {
  max-width: 8em;
  border-radius: 50%;
}

.col-md-8 {
  background-color: white;
}
