// Place all the styles related to the Ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.idea{
  background-color:#979898;
  text-align: center;
  width: 100%;
  h3 img {
    text-align: center;
    display: block;
    padding-top: 1em;
  }
}

#submit-button{
  size:100px;
}

.ideasection{
  color:white;
  h3 {
    color: black;
  }
}

.line{
  border-bottom: 10px solid black;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
}

.container {
  text-align: center;

}

.container-fluid{
  display: inline;
}

.center-form{
  text-align: center;

}


textarea {
  border: 1px solid grey;
  width: 99%;
  height: 5em;
}
 .text_field {
   border: 1px solid grey;
   width: 80%;
   height: 10%;
 }

#submitheader{
  color:white;
}

 .form-field{
   margin-bottom: 0;
   text-align: left;
 }

 .form-box {
   border-radius:5%;
   font-size: 1.4em;
   background-color: white;
 }
 #catdropdown {
   background-color: white;
   width: 55%;
 }

.submitter-pic{
  max-width: 4em;
  border-radius: 50%;
}

.container-form {
  text-align: left;

}

img {
  max-width: 20em;
}

#profile-link{
  border-radius: 20%;
}

#profile_image {
  max-width: 5em;
}

#profile-pic {
  border-radius: 50%;
}

#idea-image {
  max-width: 20em;
}

#messages {
  height: 300px;
  overflow: scroll;
  border: 1px solid #ddd;
}

#hometitle{
  text-align: center;
}

.voting {
  display: inline;
}

/* Dropdown Button */
.dropbtn {
    margin: 1em;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5%;
}

.dropbtn input {
  // padding-top: 1em;
  // padding-right: 2em;
  // padding-bottom: 1em;
  // padding-left: 2em;
}

#submit-new-idea {
  font-family: helvetica;
  font-size: 2em;
  color: white;
  margin-bottom: 1em;
}

.navbar .navbar-default{
  margin-bottom: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.modal-title {
  color: green;
}

#searchbar{
  padding: 1em;
}

.jumbotron{
  display: inline-block;
  display: flex;
  justify-content: flex-start;
}

#submitted-by{
  font-size: 25px;
  a {
    color: white;
  }
}

// comments

.comment {

}

.comment-body {
text-align: left;
}

.comment-topic {
  text-align: right;
}

.comment-seperation {
  border-bottom: 1px solid grey;
}

.comment-section-title {
  text-align: left;
}
