// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile-pic {
	max-width: 4em;
	border-radius: 50%;
}

#ideaprofile-pic {
	max-width: 20em;
	border-radius: 50%;
}

#sender-pic {
	max-width: 4em;
	border-radius: 50%;
}

.profile-requests {
	padding-top: 1em;
	border-top: 1px solid black;
}
