// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.donuts {
		text-align: center;
}

ul {
	display: inline;
	li {
		list-style: none;
		display: inline;
		font-size: 4em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

.social-links {
	padding-top: 1em;
	padding-right: 2em;
}

.fa-github {
	color: black
}


#profile-pic {
	max-width: 10em;
	border-radius: 50%;
	display: block;
	margin: auto;
}

#sender-pic {
	max-width: 4em;
	border-radius: 50%;
}

.profile-requests {
	padding-top: 1em;
	border-top: 1px solid black;
}
