// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.donuts {
		text-align: center;
		color: white;
}

.container{
	color:black;
}

.social-links {
	padding-right: 2em;
	ul{
		list-style: none;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;
		margin-top: 0;
	}
}

.fa-github {
	color: black;
}

.fa-linkedin-square {
	color: black;
}

.fa-twitter {
	color: black;
}


#profile-pic {
	max-width: 45%;
	display: block;
	margin: auto;
}

#username{
	margin-bottom:0;
	color: white;
}
#sender-pic {
	max-width: 4em;
	border-radius: 50%;
}

#my-ideas {
	color: white;
}

.profile-requests {
	padding-top: 1em;
	border-top: 1px solid black;
}

.line{
	border-bottom: 1px solid grey;
	padding-bottom: 1em;
}

.thumbnail {
	h3 {
		margin-top: 0;
	}
	p {
		font-size: 1.2em;
	}
}

.caption {
	input {
		font-size: 1.2em;
	}
}
