// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.donuts {
		text-align: center;
}

// ul {
// 	display: inline;
// 	li {
// 		list-style: none;
// 		display: inline;
// 		font-size: 4em;
// 		padding-left: 0.5em;
// 		padding-right: 0.5em;
// 	}
// }

.social-links {
	padding-right: 2em;
	ul{
		list-style: none;
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;
		margin-top: 0;
	}
}

.fa-twitter{
	color:blue;
}

.fa-github {
	color: black
}


#profile-pic {
	max-width: 45%;
	display: block;
	margin: auto;
}

#username{
	margin-bottom:0;
}
#sender-pic {
	max-width: 4em;
	border-radius: 50%;
}

.profile-requests {
	padding-top: 1em;
	border-top: 1px solid black;
}

.line{
	border-bottom: 1px solid grey;
	padding-bottom: 1em;
}

.thumbnail img {
	max-width: 4em;
}

.ideas-center {
	margin: 0 auto;


	.caption {
		text-align: center;
	}
}
